<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Onroad Breakdown Assitance </title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="well">
    <h1>Onroad Vehicle Breakdown Assitance Finder </h1>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RSA</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('location') }}">Location</a></li>
      <li><a href="{{ url_for('mechanic') }}">Mechanic</a></li>
      <li><a href="{{ url_for('areamechanic') }}">Areawise Mechanic</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li><a href="{{url_for('index') }}"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
    </ul>
  </div>
</nav>
</div>



<div class="col-md-2"></div>
<form action="{{ url_for('areamechanic') }}" >

  <div class="col-md-8" >
      <h2 align="center">Area wise Mechanic List</h2>

      <div class="row">
            <div class="col-md-2"></div>
        <div class="col-md-8">


                <select name="selloc" id="selloc" class="form-control" onchange="fill()" >
             <option value="1">All</option>
          {% for row in mechloc %}
              <option value={{ row.0 }}> {{ row.1}} </option>
          {% endfor %}
        </select>
        <input type="text" name="check" id="check" value="1" hidden>
<script>
    function fill()
    {

        let pass=document.getElementById('selloc').value;
        window.location.href="{{ url_for('areamechanic1') }}?pid=" + pass ;

    }
</script>
        </div>
        <div class="col-md-2">

       <button type="submit" class="btn btn-danger" onclick="" >Search</button>
        </div>
        </div>
</form>
  <br>
  <br>
    <table class="table table-bordered table-striped" >

        <tr>

            <th>Name</th>
            <th>Address</th>
            <th>Mobile No</th>
            <th>Workshop Name</th>
            <th>Location</th>
          </tr>

        {% for row in mech %}
        <tr>
            <td>{{ row.1}}</td>
            <td>{{ row.2}}</td>
            <td>{{ row.3}}</td>
            <td>{{ row.4}}</td>
            <td>{{ row.7}}</td>

        </tr>
        {% endfor %}

    </table>



</div>




</form>
</body>
</html>